@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900);

body {
    font-family: 'roboto';
    font-weight: 400;
    background: 
    /* On "top" */
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 4px,
      #171717 4px,
      black 8px
    ),
    /* on "bottom" */
    linear-gradient(
      to bottom,
      #171717,
      black
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .outer {
    position: relative;
    display: inline-block;
    top: 10%;
    left: 10%;
    margin-left: -300px;
    height: 500px;
    width: 500px;
    border: 1px solid rgba(225,119,3,.9);
    border-radius: 50%;
    background: 
    linear-gradient(
      to bottom, 
      rgba(253,155,18,.8) 0%, 
      rgba(255,42,4,.8) 73%, 
      rgba(253,125,45,.8) 100%
    );
    box-shadow:
      0px 0px 31px 2px rgba(255,119,3,.9), 
      inset 0px 0px 31px 2px rgba(255,119,3,.9);
  }
  
  .outer::after {
    content: '';
    position: absolute;
    z-index: -1;
    margin-top: -450px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 
      0px 0px 100px 2px rgba(255,119,3,1), 
      inset 0px 0px 100px 2px rgba(255,119,3,1);
    animation: shadowFade 4s infinite ease-in;
  }
  
  .inner {
    position: absolute;
    height: 400px;
    width: 400px;
    border: 1px solid rgba(225,119,3,.9);
    border-radius: 50%;
    /* margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px; */
    top:10%;
    left: 10%;
    background: 
    linear-gradient(
      to bottom, 
      rgba(253,125,45,.3) 0%, 
      rgba(255,42,4,.3) 73%, 
      rgba(253,125,45,.3) 100%
    );
    box-shadow: 
      0px 0px 31px 2px rgba(255,119,3,.9), 
      inset 0px 0px 31px 2px rgba(255,119,3,.9);
  }
  
  .most-inner {
    position: absolute;
    text-align: center;
    height: 350px;
    width: 350px;
    border: 1px solid rgba(225,119,3,1);
    border-radius: 300px;
    /* margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px; */
    top: 5%;
    left: 6%;
    box-shadow: 
      0px 0px 31px 2px rgba(255,119,3,.9), 
      inset 0px 0px 31px 2px rgba(255,119,3,.9);
    text-shadow: 
      0 0 5px #fff, 
      0 0 10px #fff, 
      0 0 7px #fff, 
      0 0 20px #88dfff, 
      0 0 35px #68ffc8, 
      0 0 40px #68ffc8, 
      0 0 50px #68ffc8, 
      0 0 75px #68ffc8;
    background: 
    /* On "top" */
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 4px,
      #171717 4px,
      black 8px
    ),
    /* on "bottom" */
    linear-gradient(
      to bottom,
      #171717,
      black
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .time {
    color: white;
    font-size: 70px;
    position: relative;
    display: block;
    margin-top: 45px;
  }
  
  .amPm {
    position: relative;
    display: block;
    width: 20px;
    margin-left: 312px;
    margin-top: -5px;
    color: white;
    font-size: 12px;
  }
  
  @keyframes blinking {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes shadowFade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
  
  .blink {
    animation: blinking .5s infinite
  }
  